<!-- navigation bar for each page -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Votes at Dartmouth</a>
    <ul id="nav-mobile" class="right hide-on-small-and-down">
      <li><a href="/new">Add New</a></li>
    </ul>
  </div>
</nav>
